<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="DBCS" providerName="System.Data.SqlClient" connectionString="server=172.16.7.40;database=Sample;User Id=student;Password=student"/>
    <!--This connection string is changable based on devices or SQL server-->
  </connectionStrings>
</configuration>
